body {
    font-size: 16px;
    color: blue;
    background-color: rgb(158, 186, 243);
}

/** HEADER **/
#header-nav {
    background-color: rgb(16, 56, 235);
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
      /* Page Name(Food,LLC)*/
    font-family: serif;
    color: black;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(197, 197, 243);
    margin-top: auto;
    margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
      margin-top: 5px;
}
#nav-list a {
      color: rgb(3, 1, 104);
      text-align: center;
}
#nav-list a:hover {
    background-color: #e7e7e7;
}
#nav-list a span {
    font-size: 1.8em;
    font-style: italic;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #020063;
    
  }
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -5px;
  }
.navbar-header{
    height:80px;
}

/**END HEADER**/

/** Main content **/


.container h1 {

    font-family: serif;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(197, 197, 243);
    color: black;
}

#main-content{
    
    height:1000px;
    background-color: rgb(241, 241, 241);
    padding:10px;
    border: black;
}


@media (max-width: 767px ){
    .container {
        margin-left: 25px;
        margin-right: 25px;
    }
    .navbar-brand h1 {
        font-size: 1.5em;
    }
}